body {
    margin: 0;
}

.container {
    padding: 10px;
}

#div1 {
    display: flex;
    flex-direction: column; /* Vertical alignment */
    gap: 10px;
    background-color: #f9f9f9;
    min-height: 200px;
    padding: 10px;
    border: 2px dashed #ccc;
    position: relative;
}

.dropzone-item {
    display: flex;
    align-items: center;
    position: relative;
}

.dropzone-img {
    width: 100px;
    height: auto;
    box-sizing: border-box;
}

#div2.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #e9e9e9;
    position: relative;
}

.draggable-image {
    width: 100px;
    height: auto;
    cursor: pointer;
    box-sizing: border-box;
}
